[2019-09-01 20:29] alex-page opened #2 "Error not being thrown when GraphQL query fails"
The `promise.all` does not have a `.catch`

[2019-09-01 21:30] #2 closed

[2019-09-05 15:48] Ionaru opened #4 "Run workflow when certain label is added"
I'd like any issues with the `Bug` label to be automatically moved into the Bugs project.
Is this possible with this tool?

[2019-09-05 15:50] Ionaru opened #5 "Move issue to to-do by linked PR"
I'd like to move an issue to the `to-do` column in my project when a PR is added that mentions the issue. Is this possible?

[2019-09-07 15:41] alex-page commented on #5
Hi @Ionaru there is not any webhook events related to the linking of pull requests to issues that I know of. It does sound like a nice feature but it isn't supported in the GitHub webhook events.

[2019-09-07 15:41] #5 closed

[2019-09-07 15:51] alex-page commented on #4
To put any issue that is labeled into a project. You can start to get this by using the webhooks:
[code]

GitHub projects then provides the ability to filter cards by label:
https://github.com/orgs/govau/projects/7?card_filter_query=label%3A%22good+first+issue%22

---

To do the exact way that you describe you would have to fork this project and add a new `with` option:
[code]

Then when you get t

[2019-09-07 15:51] #4 closed

[2019-09-11 20:11] alex-page opened #7 "Automate README.md version number from package.json so it doesn't get out of date"
It makes sense for guidance to say the current latest version to make sure that master doesn't accidentally break consumers.

I will forget to update this version number in the documentation. I should work out a way to automate the number increment in the `README.md`.

[2019-09-11 21:10] AndrewMusgrave commented on #7
I'm going to create a script to update mine this weekend so it'll let you know when I do 😄

[2019-09-11 22:50] alex-page commented on #7
My first thoughts were `MDX` but it could probably be a very small script. Good idea!

[2019-09-12 13:26] digitalronin opened #8 "v0 version tag doesn't seem to work"
Using `v0` I get an error that the workflow can't download the action

[code]

[2019-09-12 13:49] #8 closed, assigned to nobody

[2019-09-19 07:36] hugovk opened #9 "Automate moving issue to be fixed by a PR?"
Would something like this be possible or in scope for this action?

* When a PR is created, look for "Fixes #XXX" (or "Fixes https://github.com/org/repo/pull/XXX") in the text

* Move issue XXX to the "Pull requested" column of a project

Thanks for this handy project!

[2019-09-19 13:14] alex-page commented on #9
Hey @hugovk, this sounds like a great idea. As of right now I am trying to keep the scope of this project to webhooks. This would definitely be achievable however it would probably be a fork of this project as it would need to trigger the action when the issue is linked to the pull request.

As of right now there isn't a [webhook](https://help.github.com/en/articles/events-that-trigger-workflows#w

[2019-09-19 13:14] #9 closed

[2019-09-19 16:04] hugovk commented on #9
OK, thanks!

[2019-09-20 13:34] hugovk opened #10 "Minimum scopes needed for personal access token"
When creating a personal access token for https://github.com/alex-page/github-project-automation-plus#private-repositories, what are the minimum scopes needed?

Are they different for a private repo or one you don't have admin access to?

Thanks!

[2019-09-20 13:47] alex-page commented on #10
For an organization with private repositories you will need `admin:org`:
- Read and write org and team membership, read and write org projects

For private repositories you need `repo`:
- Grants full access to private and public repositories. That includes read/write access to code, commit statuses, repository and organization projects, invitations, collaborators, adding team memberships, and depl

[2019-09-20 13:53] hugovk commented on #10
Thank you, is the first bullet for orgs with public repos where you don't have admin access?

[2019-09-20 14:00] alex-page commented on #10
Yes 👍

[2019-09-22 06:21] hugovk commented on #10
We've tried with `repo` and `admin` permissions on a public repo, but we get "bad credentials". Any ideas?

https://github.com/python-pillow/Pillow/pull/4078

@aclark4life, who created the personal access token, has admin access to the repo. @radarhere and me, who have created PRs that get the error, do not have admin access.

[2019-09-23 03:07] matthewbegun opened #12 "[Feature Request] - Assign milestone"
Hi, thank you so much for writing this. It's a life saver.

I use Projects to track medium term deadlines and Milestones for weekly targets; I was wondering how hard it would be to assign a milestone at the same time as the project.

I think it should be okay based on the docs and your code, but I don't really know javascript very well so I can't be sure.

Happy to have a hack if I get some spare

[2019-09-23 12:58] alex-page commented on #10
@hugovk is this working now or still an issue with public repos without admin access?

[2019-09-23 13:01] alex-page commented on #12
Hey @matthewbegun great idea!

The scope of this project is limited to projects and columns with issues and pull requests. This could easily be another action. It would be triggered on issue or pull request creation and then connect to the updateIssue to add a milestone:
https://developer.github.com/v4/input_object/updateissueinput/

[2019-09-23 13:01] #12 closed

[2019-09-23 13:17] hugovk commented on #10
It's still an issue for public repos without admin access. (Working for private repos.)

[2019-09-23 13:28] alex-page commented on #10
Ok I will try and have a look into this. Thank you @hugovk.

[2019-09-23 13:35] hugovk commented on #10
Thanks, let me know if I help out by creating PRs on a test repo.

[2019-09-24 00:13] matthewbegun commented on #12
OK I'll have a poke and see if I can hack something together.

Thanks again!

[2019-09-24 01:26] alex-page commented on #10
@hugovk can you try again with `v0.1.0`. I just merged a pull request that changes what projects it searches. If this doesn't work can you paste your error message here?

[2019-09-24 06:39] hugovk commented on #10
Here's a PR with v0.1.0: https://github.com/python-pillow/Pillow/pull/4085

The log:
[code]
https://github.com/python-pillow/Pillow/pull/4085/checks?check_run_id=233656551

[2019-09-24 20:05] hugovk commented on #10
Aha, so repo tokens are not available to forks, that explains why it hadn't been used.

See, for example:

* https://github.community/t5/GitHub-Actions/optional-read-write-permission-for-forked-repos/m-p/32624/highlight/true#M1203

[2019-09-24 20:13] alex-page commented on #10
Oh that is frustrating. I assume that is a limitation of GitHub. Is there anything I can do with this project to help?

[2019-09-24 20:49] hugovk commented on #10
Yeah, looks like a GitHub limitation. From another Action project: https://github.com/r-lib/ghactions/issues/262#issuecomment-502996564

I guess the best this project can do is mention it's not currently possible. Hopefully GH will make it possible in the future!

Thanks for looking into this!

[2019-09-24 20:49] #10 closed

[2019-09-25 13:23] alex-page opened #13 "Update documentation to filter using `on` webhook event"

[2019-10-06 22:17] #13 closed

[2019-10-14 11:37] k-stachowiak opened #15 "Debugging action issues; deploying a forked action"
First of all, thanks for publishing the action. It looks very promising.
As a non-javascript programmer I experienced some issues debugging the solution and tried to use my own fork of this repository to add some extra logging information.
It wasn't easy for me to establish, what exactly needs to be done to have the `dist` directory contain a valid script. Eventually I've got it to work by a combi

[2019-10-15 13:04] alex-page commented on #15
Hey @k-stachowiak. Here are some instructions for local development:
1. Install dependencies `npm install`
1. Make the changes to the package
1. Build the action `npm run build`. This is required because the `node_modules` that are installed need to be bundled into the `dist` directory when the code is pushed to GitHub. You can read more here: https://help.github.com/en/articles/creating-a-javascr

[2019-10-15 13:14] #15 closed

[2019-10-15 14:15] k-stachowiak commented on #15
Thanks for your reply. I have managed to get my fork working, and it was very helpful e.g. to print the contents of the payload structure and catch errors in my condition expressions. Nevertheless, thanks for the instructions; it's good to know the right way of doing things.

[2019-10-23 09:00] hugovk opened #17 "Only trigger when issue not on a board?"
Is it possible to limit an action to only trigger when an issue is _not_ already on a project board?

# Use case

We have two boards: a "Backlog" and a "Task board".

We have an `issue_opened.yml` workflow to automate adding new issues to the backlog's "New issue" column:

[code]

We then groom the backlog as usual, and manually move them to the task board during planning. So far, so good.

Occasi

[2019-10-23 13:15] alex-page commented on #17
Hey @hugovk

This code here is meant to do what you are asking:
https://github.com/alex-page/github-project-automation-plus/blob/2eb520520e31b044dc8beb943284850f65f52007/index.js#L99-L113

If the card exists, move the card to the column. If the card does not exist create it. Could you modify this code in a forked action?

[2019-11-04 16:05] markphelps opened #18 "Allow referencing project by id?"
What do you think about adding support for finding projects by ID in addition to name?

We recently renamed one of our projects which caused the automation to break since it couldnt find the project anymore.

[2019-11-05 19:08] alex-page commented on #18
Hi @markphelps that is a great idea. The current iteration is meant to be as user friendly as possible as getting the project board id can be confusing.

[2019-11-22 22:50] formacube commented on #4
Hi Alex,

I would be interested by the functionality Ionaru talked about,
but apparently he didn't forked it,
and I didn't saw it implemented in any of the forks.

Being only an amateur programmer, I would appreciate help for implementing it

[2020-01-14 23:13] alex-page commented on #17
I am going to close this, let me know if you need any more help or feel free to re-open the issue!

[2020-01-14 23:13] #17 closed

[2020-01-15 01:26] alex-page commented on #18
This is a great issue for anyone who wants to contribute for the first time to this project.

[2020-02-01 16:12] 14113 opened #21 "Support for delete and archive issue from project"
It's a great tool for automation. Thx for it!

I have one idea for improvement.
- When we assign user on an issue, automation is going to add the issue to a specific project. This works great.
- When we unassing user from an issue, the issue is still on a specific project. It is possible to remove issue from the project?
From source code, I don't think so :)

Do you have plan to work on that, or e

[2020-02-03 19:33] alex-page commented on #21
This is a great idea. I wonder what other options the "project card" API has that this project could use.

[2020-02-03 19:45] 14113 opened #23 "Add the card to the bottom by default"
I have one feature request :)

Right now, when workflow adds a new issue into the column, it's on the top. But for my perspective columns are ordered often by priority and this logic brakes it all.

It is possible to change it and add a cart to the bottom?
On REST API it's really easy https://developer.github.com/v3/projects/cards/#parameters-3 `position: bottom` not sure about GraphQL.

Do you li

[2020-02-03 20:02] alex-page commented on #23
Love this, I would see this as a part of the workflow configuration! Thanks for sharing it with me. Do you want to make a PR?

[2020-03-04 15:25] bensheldon opened #24 "Project name not exact matched"
I really love this Github Action, but ran into an unexpected situation:

I have the following action defined:

[code]

And discovered that the Action is adding the newly created PR _correctly_ to the Repo's Project named "Backlog" and column named "In progress".

...but is _unexpectedly_ also adding the PR to an Owner project named "Global Backlog" and column named "In progress".

Reading the code

[2020-03-05 14:13] alex-page commented on #24
Ahhh good catch. This should not be fuzzy matching.

I still want to keep the ability to add projects by name to keep this action usable for people who don't know how to get the project ID but it should only be getting exact matches.

If you want to make a pull request that would be awesome, otherwise I will fix this up in the next week or two.

[2020-03-05 14:48] bensheldon commented on #24
Thanks for that feedback. I'll make a PR.

[2020-03-08 16:11] alex-page commented on #24
This is released in v0.1.3. Thanks @bensheldon 💯

[2020-03-08 16:11] #24 closed

[2020-03-08 17:51] bensheldon commented on #24
@alex-page woot! Thank YOU.

[2020-03-25 08:32] CiTRuS93 opened #28 "Assinged issue did not move "Project already has the associated issue""
hi there!

I have one project with three column and one issue on the Todo column.
i want to move the issue when i assign it to some one.

my workflow:
[code]

but i'm keep getting this error:

[code]

[2020-03-25 13:15] alex-page commented on #28
Is the project open source? Can I have a look how it is failing in an issue?

[2020-03-25 13:23] CiTRuS93 commented on #28
i'll add you as a collaborator, i'm just trying diffrent thing in git hub

[2020-03-25 13:50] alex-page commented on #28
I am looking into this now. Thanks @CiTRuS93.

[2020-03-25 14:30] alex-page commented on #28
This might be related, diving into it now:
https://github.com/alex-page/github-project-automation-plus/pull/29

[2020-03-25 21:32] alex-page commented on #28
@CiTRuS93 can you please try `v.0.2.0`?

[2020-03-25 21:39] CiTRuS93 commented on #28
Still the same error

[2020-03-25 21:40] alex-page commented on #28
Thanks mate I am looking into it 👀

[2020-03-26 04:05] alex-page commented on #28
This should be resolved in `v0.2.1` let me know if you have any problems. Happy to reopen the issue. Thanks again @CiTRuS93!

[2020-03-26 04:05] #28 closed

[2020-03-26 09:49] CiTRuS93 commented on #28
Working perfectly good! Thanks!

[2020-04-29 04:54] affrae opened #32 "Move card based on number of assignees"
Hi Would love to have support for issue:unassigned and pull_request:unassigned events to be able to more a project card inoit a defined column. Something like:

[code]
where `minimumAssignees` is a value such that if the number of assignees falls below that value the card is shifted (default 1)

I want to use this action in my demos... 💜

[2020-04-29 04:59] affrae opened #33 "README.md file suggested modification"
You may have an issue in your README.md file about workarounds for permissions issues with the standard GITHUB_TOKEN:

If a user tries to create a secret called `GITHUB_TOKEN` they will be denied as it is a reserved keyword. I would suggest `MY_GITHUB_TOKEN` instead. 💜

[2020-04-29 13:06] alex-page commented on #32
This might be a nice extension or separate action. I could imagine a lot of use cases where if assignee equals or is less than do X.

I feel like this functionality is outside the scope of this project. Happy to help you create an action if you are interested.

[2020-04-29 13:09] #33 closed

[2020-04-29 13:11] alex-page commented on #33
Thanks @affrae this is resolved in the latest version https://github.com/alex-page/github-project-automation-plus/releases/tag/v0.2.3

[2020-05-06 09:26] Altafard opened #36 "[error] Cannot read property 'repository' of null"
Why can I get this error?

I use this configuration
[code]

[2020-05-06 13:36] alex-page commented on #36
This sounds like a bug if the repository does not exist. How is your project board set up? Is the project created in a repository, organisation or on your profile?

The error would be related to this line:
https://github.com/alex-page/github-project-automation-plus/blob/eaa95cf314158ec49f2f65f2f8b7c7f986bfdc3a/src/generate-mutation-query.js#L11

[2020-05-06 13:40] alex-page commented on #32
@affrae I am going to close this for now. Let me know if you want help creating a new action to check number of assignee's.

[2020-05-06 13:40] #32 closed

[2020-05-06 13:46] #7 closed

[2020-05-06 22:14] affrae commented on #32
No worries - thanks for the feedback...

[2020-05-07 12:14] Altafard commented on #36
I send you invite to my private repository

[2020-05-07 12:51] alex-page commented on #36
@Altafard thanks for the invite to such a good test case. I will copy the set up and debug it. Appreciate you logging a ticket 👍

[2020-05-07 13:06] alex-page commented on #36
@Altafard I think it might be the column name is not exact matching:

`column: In Progress` and your column is called `In progress`. Try updating one of them to match.

[2020-05-07 13:21] Altafard commented on #36
Nope, unfortunately it wasn't help. I tried to rename column to **In Progress**, but still got the same error. Also I tried to set name of column without whitespace, and it didn't help too. I don't sure that the problem is in column, because column is a part of project in repository, which we can't find.

[2020-05-07 14:06] alex-page commented on #36
Thanks @Altafard I will keep digging.

[2020-05-11 23:37] pandafy opened #38 "Add a troubleshooting guide"
Add which permissions are needed to be selected while creating personal access token.

[2020-05-12 01:55] alex-page commented on #38
Hey @pandafy great idea. Did you want to contribute some documentation in the README.md?

[2020-05-12 14:36] UrsaDK commented on #21
This would be a fantastic addition to this project! Especially if it could support both "Remove from project" and "Archive" actions on the "project card". This would appease both: those that want to keep track of the past cards, and those that don't.

[2020-05-12 15:33] alex-page commented on #21
I agree, thanks @UrsaDK! I have a few other projects firing off right now but I think this is the top priority for this project.

[2020-05-12 19:41] pandafy commented on #38
I would love to but I don't have any idea which permissions are needed to be selected.
We can add troubleshooting guides for :
- Bad credentials
- Can't read repository null (I didn't gave access to privare repository, but it solved after giving this access)
- Access to public repository is must to maintain project board.

[2020-05-12 19:52] alex-page commented on #38
I think these are the scenarios I know of. Will have to figure out the exact different permissions for each. I put some guesses for permissions.

**repo** Full control of private repositories
- Public repository and project board
- Private repository and project board

**admin:org** Full control of orgs and teams, read and write org projects
- Organisation project board
- Organisation public repos

[2020-05-12 19:59] pandafy commented on #38
I didn't need to give full control of private repositories for a public repository I used this with. We should encourage users to follow concept of `Least Privilege Permissions`.

[2020-05-12 20:02] alex-page commented on #38
Definitely agree on least permissions. I think for next steps we need to do a manual test with each scenario and minimal permissions to make sure they are correct.

I'm happy to do it but I have some other priorities this week.

[2020-05-12 23:32] rodrigondec opened #39 "[BUG] ##[error]Parameter token or opts.auth is required"
# Resume
I'm receiving the error `##[error]Parameter token or opts.auth is required` on [this run](https://github.com/idvogados/idvogados.github.io/pull/16/checks?check_run_id=668944788) on my CI

## Proofs
![image](https://user-images.githubusercontent.com/3301060/81755574-858bfe80-948f-11ea-831b-3de3218eec20.png)
![image](https://user-images.githubusercontent.com/3301060/81755592-92105700-948f-1

[2020-05-13 01:53] alex-page commented on #39
Hey @rodrigondec thanks so much for raising this issue and providing all the detailed information.

Do you know how to fix it? I will have to spend some time investigating the problem.

[2020-05-13 18:35] Altafard commented on #36
I found that you required to choose full control of private repositories on personal access token creation. Everything is working now. I think it will be helpful to update readme. Thanks for your help!

[2020-05-13 19:48] alex-page commented on #36
Oh cool. Thanks @Altafard. I have this issue open now that should help resolved this.

https://github.com/alex-page/github-project-automation-plus/issues/38

[2020-05-13 19:48] #36 closed

[2020-05-14 12:50] rodrigondec commented on #39
Don't know either.

I have re-run the job but still has error. I'm using your action on other projects and didn't have this issue.

I don't understand either why did it happen by analyzing the code and ref I found.

[2020-05-16 00:41] conarro commented on #39
I just ran into this error as well. I had stored the `GH_TOKEN` at the org-level initially. When I moved it to a repo-level secret, the action worked!

[2020-05-16 01:21] alex-page commented on #39
Oh that is interesting! I will add it to issue #38 thanks @conarro!

[2020-05-16 01:22] alex-page commented on #38
Another error state was found by @canarro https://github.com/alex-page/github-project-automation-plus/issues/39#issuecomment-629562241

[2020-05-16 08:46] pandafy commented on #39
If I get you correct, you have a project in a repository which is part of an organization. Shouldn't organization level access also provide access to projects of all repositories ?

[2020-05-16 08:49] pandafy commented on #39
I think it is a tedious job to configure secret for all repositories of an organization. @alex-page is this intentionally or there is not a straight forward way to allow organization level token manage projects of all repositories.

On a personal note, I won't like configuring secrets for all repositories individually.

[2020-05-16 08:50] pandafy commented on #38
II will try to do manual testing of required permissions over the weekend. :smile:

[2020-05-16 13:01] alex-page commented on #39
Yeah it is definitely hard. I would avoid documenting organization secrets or have a sentence saying we don't recommend it's usage.

This is also confusing if people set up private repos in organisations:

[2020-05-16 16:05] Abhishekkr3003 opened #40 "How to test in development?"

[2020-05-16 18:25] pandafy commented on #38
There is one more thing which should be added in the documentation, `Contributing Guidelines`.  @alex-page I don't think you ever expected people to contribute to your work. 😆

[2020-05-17 00:30] rodrigondec commented on #39
I have my secrets on the repo itself. Not on the org.

This bug is highly esoteric 🤣

# Proofs
![image](https://user-images.githubusercontent.com/3301060/82132955-234b3a80-97bc-11ea-9c15-42a733e92e82.png)
![image](https://user-images.githubusercontent.com/3301060/82132963-31995680-97bc-11ea-8d50-daab489ecd03.png)

[2020-05-17 00:50] rodrigondec commented on #39
@alex-page digged some other codes. I edited the issue 😄

[2020-05-17 13:45] alex-page commented on #40
Hey @Abhishekkr3003 this is actually quite challenging. I will document my process. At a high level it is:

- Create a fork with changes
- Point a workflow on GitHub to the forked action

[2020-05-17 13:46] alex-page commented on #39
@rodrigondec some people had issues using `GH_TOKEN` can you try renaming your secret to `GITHUB_TOKEN`?

[2020-05-17 17:44] rodrigondec commented on #39
Sure, I'll modify and post the results.

[2020-05-17 19:38] rodrigondec commented on #39
@alex-page

I switched the name of my secret and put it on the Organization.

The [run I tested](https://github.com/idvogados/idvogados.github.io/runs/683276332?check_suite_focus=true) worked perfectly fine.

## Proofs
![image](https://user-images.githubusercontent.com/3301060/82158172-94dac580-985c-11ea-8fb0-9ad18b485f15.png)

![image](https://user-images.githubusercontent.com/3301060/82158196-c6

[2020-05-17 21:37] alex-page commented on #39
@rodrigondec that might be a good idea. I have secrets in organisation repositories and it works for me fine. I wonder if there is something else going on here?

[2020-05-18 17:09] rodrigondec commented on #38
@alex-page

It will be good to document this too: https://github.com/actions/toolkit/issues/465#issuecomment-630227277.

[2020-05-18 17:51] alex-page commented on #38
I feel like I should handle an error if the secret is an empty string? What do you think @rodrigondec ?

[2020-05-19 11:48] conarro commented on #39
I tried using `GH_ACCESS_TOKEN` the org-level, still didn't work. It's working for me with repo-level secrets called `GH_TOKEN`.

Will post back here if I do any other combinations.

Just to clarify, the issue here is not having secrets in organization _repositories_, but secrets that live at the organization-level itself.

[2020-05-19 12:09] rodrigondec commented on #38
I think it is the best case. And add to the docs about this limitation (of the github itself) with references.

[2020-05-19 12:10] rodrigondec commented on #39
@conarro is it running from forked repos? I opened a issue on actions/toolkit#465 and discovered the cause for my error.

https://github.com/alex-page/github-project-automation-plus/issues/38#issuecomment-630318533

[2020-05-19 13:06] alex-page commented on #38
Yeah i will re-open #39 and we can resolve it with this guide. That would be great @rodrigondec.

[2020-05-19 13:07] alex-page commented on #39
Re-opening this issue until  #38 is done

[2020-05-19 16:37] pandafy commented on #38
Apologies @alex-page , I have been busy lately. Please go ahead to create a PR. I will try to give my inputs along the way. :sweat_smile:

[2020-05-20 12:56] conarro commented on #39
@rodrigondec no, no forks in my setup sadly.

[2020-05-22 18:30] Altafard opened #41 "Move the issue from specific column only"
Hi, @alex-page! What do you think about it?
In my case I have a column 'To pull' with unassigned issues. And I want to move issue to column 'In progress' on assigning. After closing  issue in column 'In progress' it must appear in 'Done'. But sometimes people assign themselves on closed issues and this issues turn back to the column 'In progress'.

Is it good idea to add new argument 'from column'

[2020-05-27 23:48] sover02 opened #42 "Support use for {{ secrets.GITHUB_TOKEN }}"
I know that the auth variable was renamed to `GH_TOKEN`, but is there any reason we can't support using the provided repo `GITHUB_TOKEN`?

Currently it errors out with:
`Resource not accessible by integration`

It should have the necessary permissions to read/write issues and project cards:
https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token#p

[2020-05-27 23:59] sover02 commented on #42
Okay, so it turns out this is limitation of forked repositories and Github actions.  `GITHUB_TOKEN` is limited to read-only on forked repositories.

https://github.community/t/github-actions-are-severely-limited-on-prs/18179/5

[2020-05-27 23:59] #42 closed

[2020-05-29 13:27] #38 closed

[2020-05-29 13:27] #39 closed

[2020-05-29 13:27] #40 closed

[2020-05-30 14:03] andersfylling commented on #4
This is a really practical idea. I've been trying out this project: https://github.com/philschatz/project-bot

But that seems dead/incomplete and with bugs. Is there a reason the "with" key wasn't added?

[2020-06-06 18:07] dconnolly opened #45 "Action does not find projects with emoji in their names"
Or perhaps emoji as their entire name. Problem does not occur when using 'normal' ASCII.

![image](https://user-images.githubusercontent.com/552961/83951372-07591880-a7ff-11ea-8159-abe1844626d7.png)

![image](https://user-images.githubusercontent.com/552961/83951376-14760780-a7ff-11ea-9389-da1d6f3a0935.png)

[2020-06-06 18:09] dconnolly commented on #45
Note that this would be moot if #18 were supported.

[2020-06-06 21:02] alex-page commented on #45
Thanks for raising @dconnolly, are you interested in making a PR to fix it?

[2020-06-23 13:18] kammce opened #46 "Handling multiple projects"
I have multiple projects and I want the column action to move a card is already in a project, to a specific column within that project. If the card does not have a project than no action occurs or I can send it to a "unassigned" project, if I need to have some field available.

[2020-07-05 08:04] BobAnkh opened #47 "Workflow doesn't work when pull_request is opened from a forked repo"
I'm trying to use your actions to automatically add a new pr to the project @alex-page .

Here is my workflow file:

[code]

When I open a pr myself, it works fine. Here is the log:

[code]

When my friend opens a pr, it doesn't work . Here is the log:
[code]

Are there some things I forgot to configure or wrongly configured? Or does it mean that a pr opened from a forked repo cannot be automatica

[2020-07-05 16:21] alex-page commented on #47
Hey @BobAnkh this is documented in the readme file:

Let me know if the README can help or you need more guidance. I am going to close the issue for now, feel free to re-open it as needed.

[2020-07-05 16:21] #47 closed

[2020-07-06 01:52] BobAnkh commented on #47
@alex-page Does it mean any token cannot work fine with a pr opened from a forked repo to my repo?

I've read the readme file, and first time I tried to use ${{secrets.GITHUB_TOKEN}}, which returned the error `Resource not accessible by integration` as you have mentioned in your readme file. So I choose to use personal access token, which I put it in the secrets named ACCESS_TOKEN, and I change th

[2020-07-06 03:04] alex-page commented on #47
Hey @BobAnkh my understanding is that forked repos cannot run actions that require PAT right now.

[2020-07-06 03:15] BobAnkh commented on #47
@alex-page
I thought this pr was opened in my repo, so I can put it in my project😂

So it means that any PR opened from a forked repo to my repo have to be added to project by myself? Is it possible for a application bot to do this?

I really appreciate your guidance! Thank you!

[2020-07-06 11:32] alex-page commented on #47
It definitely could be automated but it isn't a part of this project unfortunately.

[2020-07-06 11:39] BobAnkh commented on #47
@alex-page
Thank you for your help.
I've been working on this, using PyGithub. It seems that error occurs when triggered by a pr from forked repo. But it works fine using schedule. Maybe there are some tricks.
Anyway, I really appreciate your help!

[2020-07-15 12:49] alex-page commented on #46
That is a great idea. Thanks @kammce. I think this should be quite easy, we pass an array of projects and run the action for each one. Would you be interested in making a PR?

[2020-07-15 12:50] alex-page commented on #41
Hey @Altafard this is a great idea. I think it should be quite straight forward to implement. Would you be interested in making a pull request? Happy to give more direction.

[2020-07-16 13:11] kammce commented on #46
When I get free time I'll see if I can make that happen.

[2020-07-30 07:11] woodie opened #48 "Project board column change"
If we want to sync our Github project board with external systems, it would be helpful to have a way to trigger actions when an Issue is dragged from one column to another.

[2020-07-30 12:23] alex-page commented on #48
I want to keep this action simple and focused on the issue and pull request webhooks. I could expand it to use [column webhooks](https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#project_column). This would address this need. Would you be interested in helping adding this functionality?

[2020-08-03 21:04] alex-page opened #49 "Update documentation for forked pull requests"
GitHub has made it possible to run actions on forked prs

https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/

Docs need to say that the user can now enable a setting to run actions on the forked repo.

[2020-08-06 21:28] NicholasBoll commented on #49
Also, update the allowed events to include `pull_request_target`: https://github.com/NicholasBoll/test-github-actions/runs/955762031?check_suite_focus=true

[2020-08-13 00:54] woodie commented on #48
Contacting an external API adds a log of complexity, but we could instead just add a structured comment on the Issue. There are already lots of integrations that replicate Github Issue comments to external project tracking tools.

[2020-08-16 13:05] woodie commented on #48
[code]

[2020-08-17 01:49] woodie commented on #48
https://user-images.githubusercontent.com/17495/90350151-0b6c9800-dff1-11ea-810d-a75131726c7e.png
[code]

[2020-08-17 02:13] woodie commented on #48
The workflow could look something like this.
[code]

[2020-08-17 14:45] alex-page commented on #48
This is awesome, thanks @woodie. I don't have time right now to implement this but this details is really awesome. If you want to make a PR I can definitely review it.

[2020-08-21 00:07] woodie commented on #48
Got it working with existing actions.
[code]

[2020-09-26 16:46] j1elo opened #51 "(README.md) Personal access tokens for public user projects"
The README says that for

the required permission is `repo` ("*Full control of private repositories*").

However, this permission is actually required also for **public** repositories and project boards.

I've tested it with a public user-level Project: https://github.com/users/j1elo/projects/1
and a public repository: https://github.com/j1elo/test-repo

* Using `secrets.GITHUB_TOKEN` fails with e

[2020-09-26 23:27] alex-page commented on #51
Hey @j1elo thanks for the detailed issue! Do you want to make a PR to update it. Would be happy to make this change.

[2020-09-29 13:46] j1elo commented on #51
I wouldn't have enough knowledge about how to work with the GraphQL queries and Github permissions to know how to avoid that the `repo` permissions are needed (ideally, the less permissions the better); or to know if it is even possible to avoid having that permission (is it?)

Otherwise, yes I can propose a change to the README.

[2020-09-30 22:05] #49 closed

[2020-10-22 10:07] germanfr commented on #46
I have multiple projects with the same structure in my organization and I'd love if I could leave the project field empty so that it automatically moved it to a column of the same project the issue is currently in, so that I could reuse the same yml file in all the repos and projects.

[code]

[2020-11-11 22:30] affrae opened #54 "How does this work with an organization owned project?"
Hi!

Can you clarify how this action would work with an organization-owned project?

Let's say Organization OrgA owns Repository RepoB - which has the workflow.yml  file installed - and Project ProjC

I want to trigger the workflow such that when someone opens an issue in RepoB, the workflow will add to a particular column (let's say "Triage") in ProjC.

Will this action work in that context?

[2020-11-13 00:54] alex-page commented on #54
Not right now, it's only focused on supporting one project.

[2020-11-17 19:04] carlisia commented on #54
Hey all, I made this work.

1. Create ProjC in a GH organization
2. Add a GH secret at the org level, NOT named `GITHUB_SECRET`; name it something like `GH_SECRET`
3. Give full `repo` access for this secret; copy/paste somewhere the value of this created secret
4. Add the yaml configuration to repo RepoB pointing to project:ProjC, and with the secret name created above
5. In the repo RepoB, go to

[2020-11-25 09:43] yuvipanda commented on #54
Thank you for writing this up, @carlisia!

Can you tell me what step (3) entails? Create a github personal access token with full 'repo' access? Or something else? That would be very helpful!

[2020-11-26 00:27] carlisia commented on #54
Sure thing!

Yes.

[2020-12-08 22:16] alex-page commented on #54
Thank you so much @carlisia. I am going to close this for now and hopefully folks can reference this issue. If it gets raised often I can add these steps to the `README.md` file.

[2020-12-08 22:16] #54 closed

[2020-12-09 20:42] fharper opened #57 "Add Workflow options for specific users"
It would be useful to be able to add an action based on a user, like for the `assigned` type.

[2020-12-10 15:53] jurijzahn8019 commented on #57
Hi @fharper What exactly is the case? This Action supports all(!) issue events.
You can also check the user's name and execute this action conditionally

[code]

[2020-12-10 17:48] alex-page commented on #57
Thanks @jurijzahn8019, I am going to close this issue for now. If there is any problems let me know @fharper happy to re-open it.

[2020-12-10 17:48] #57 closed

[2020-12-10 17:49] alex-page commented on #21
This has been resolved, we may want to split archive and delete in the future.

[2020-12-10 17:49] #21 closed

[2020-12-10 18:40] fharper commented on #57
Oh, thanks @jurijzahn8019, I focussed on this action itself and not what I could do with GitHub Action 🤦‍♂️

[2021-03-13 09:43] hussain5416 opened #60 "[Feature] Automatically moves the Issue/PR based on the label selected for it"
Just for an example: Let's say there are 3 projects I made in a repo called `All Bugs`, `All improvements`, `All feature requests`. And lets say 3 labels `bug`, `improve`, `feature`. If issue was labeled as bug, issue/pr moves to `All Bugs` project and so on for others.

Another example, like you can have **projects based on the components of the app** you are working on, and just by labelling it,

[2021-03-14 03:08] hussain5416 commented on #60
@alex-page Any comment on this one?

[2021-03-14 05:47] #60 closed

[2021-03-15 04:11] alex-page commented on #60
You should be able to do this with three actions. Is the suggestion to do multiple with the one action?

[2021-03-15 04:29] hussain5416 commented on #60
@alex-page "You should be able to do this with three actions." Can you elaborate on this one.

[2021-03-15 04:59] alex-page commented on #60
You could create three [workflow files](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions) for the github repos you want to collocate the issues or pull requests in.

Each workflow could do something like:
- On PR/Issue getting label `bug` move PR/Issue to backlog column of `All Bugs` project
- On PR/Issue getting label `improve` move PR/Issue to backlog column of `Al

[2021-04-22 09:51] boardfish opened #61 "Acting on pull request review events"
This action works on pull request events. Some of these fall into the remit of PR reviews too, like `review_request_removed`, which is nice. But there are some automations I'd like to develop based on reviews that are received.

GitHub has built-in project column automations for approval, but say for example we'd like to do something with a `Changes Requested` review, like:

[code]

This doesn't w

[2021-04-22 14:35] alex-page commented on #61
Thanks @boardfish that is a great use case. If you wanted to have a go at making a PR to address it I would be happy to review.

[2021-04-22 21:17] boardfish commented on #61
Awesome, thanks Alex.

I figure I'll need to update `getActionData` to be able to cope with `pull_request_review` events. Right now there's a lot of conditionals in there, so there's potential for me to refactor it further if there's a strong benefit to doing so. If there are other issue/PR-adjacent events that aren't covered by this action, doing so would be useful to make it easier to integrate

[2021-04-22 22:30] alex-page commented on #61
I mean if you wanted to take a crack I wouldn't mind you adding another event type or refactoring it further. Let me know if I can help with reviews ✨

[2021-04-23 15:03] #61 closed

[2021-04-28 03:59] D4nte commented on #51
So is the proper solution to have a token with whole `repo` permission?

[2021-04-28 04:01] alex-page commented on #51
@D4nte yes so it can access issues and pull requests. Are you having issues with this?

[2021-04-29 02:13] D4nte commented on #51
Now fixed. Thanks!

[2021-04-29 03:58] alex-page commented on #51
@j1elo I have updated the documentation. Closing this issue for now but please re-open it if anything is missing.

[2021-04-29 03:58] #51 closed

[2021-04-29 07:34] christianhaller3000 opened #65 "node14 is not supported yet"
https://github.com/actions/runner/issues/772

https://github.com/alex-page/github-project-automation-plus/blob/main/action.yml#L21

[2021-04-29 14:12] alex-page commented on #65
@christianhaller3000 my bad! It seemed sensible

[2021-04-29 14:14] #65 closed

[2021-06-14 23:29] MisterChocker opened #68 "Error: Resource not accessible by integration"
For some reason I am unable to get this action to work.

My repo is public and not a fork.

I've also tested another action which did work but has very limited functionalities, this is why I'd like to use this action.

I also tried to include the new permission system to modify the default permissions.
I tried both as job and as workflow variable.
(https://docs.github.com/en/actions/reference/work

[2021-06-14 23:31] alex-page commented on #68
Can you share a link to your repo 👀

[2021-06-14 23:31] MisterChocker commented on #68
My test repo https://github.com/MisterChocker/test_repo

[2021-06-14 23:38] alex-page commented on #68
Everything looks right to me 😬, I wonder if anyone else can see what is going wrong.

[2021-06-14 23:42] MisterChocker commented on #68
Yeah it does look right, it's really weird that it's not working.

[2021-06-14 23:56] alex-page commented on #68
Can you try...
1. Rename the project
2. Update the workflow project name to match

Just to make sure this isn't a weird race condition? That is all I can think it could be 👻

[2021-06-14 23:58] MisterChocker commented on #68
I am in bed right now, but I can try it tomorrow.

But I've already created two more/different projects and they also did not worked

[2021-06-15 06:27] MisterChocker commented on #68
Renamed the project and changed workflow project name to match.

![image](https://user-images.githubusercontent.com/1857322/122003415-58590080-cdb3-11eb-9eca-79fee22c3158.png)

[code]

Same result

![image](https://user-images.githubusercontent.com/1857322/122003356-48d9b780-cdb3-11eb-9f6a-98cf9d810aad.png)

[2021-06-15 14:38] MisterChocker commented on #68
Are you able to reproduce the issue on a new/different repo?

[2021-06-15 20:24] MisterChocker commented on #68
Small update: I've now also tried this workflow on our main repo with the same outcome. Other solutions are working tho.

[2021-06-17 12:38] andylolz opened #69 "Workflow run fails when triggered by an `issue_comment` event"
My workflow looks like this:

[code]

It fails with the following error message:
[code]

If I instead trigger it using e.g.:
[code]

…it works fine.

I’m not exactly sure, but I wonder if the problem is this line:

https://github.com/alex-page/github-project-automation-plus/blob/8b1f15391cdb58c0c6a4ee4a83f5819cf3e747df/src/generate-project-query.js#L11

[2021-06-26 04:50] Doarakko commented on #68
I also reproduced with public repo and public project.

I solved it by creating and using a token with `repo` permission.

<img width="" src="https://user-images.githubusercontent.com/21009186/123502138-d3a89500-d684-11eb-9185-a842d03bb36f.png">

## Related issue

https://github.com/alex-page/github-project-automation-plus/issues/51

[2021-06-26 12:01] MisterChocker commented on #68
@Doarakko thanks mate, I'll try with a token with repo permission later!

[2021-06-26 15:30] #68 closed

[2021-06-26 15:31] alex-page commented on #68
I have updated the documentation for repository projects. This is super odd though, thanks @MisterChocker and @Doarakko ✨

[2021-06-28 11:05] AllanChain commented on #68
I am new to this action and having the same problem. The `GITHUB_TOKEN` definitely has permission `RepositoryProjects: write`. If this action previously worked with `GITHUB_TOKEN` and recently fails, it might be GitHub's issue. (somewhat like actions/starter-workflows#332 ?)  Should we contact GitHub if it is the case?

[2021-07-08 16:24] nilsreichardt commented on #4
Why do we not integrate this into this repo? The `label` option is a useful option.

[2021-07-08 16:37] alex-page commented on #4
@nilsreichardt it is integrated. When you set up the workflow you have access to all the webhooks. You can add checks in GitHub to conditionally run this action based on if a label is created. Adding label as a key would be changing how this action works. This action is meant to only access the webhook layer provided by GitHub.

[2021-07-08 16:39] nilsreichardt commented on #4
Ah ok, I didn't have this design information 👍  Using `if: ${{ github.event.label.name != 'P0' }}` is fine, but I was wondering why now simply add the `label` parameter to this project.

[2021-07-08 16:42] alex-page commented on #4
We definitely can add it. I just think we are trying to make this action as simple to maintain as possible. It's a delicate balance between experience using it and maintaining it.

[2021-07-13 00:54] MrDogeBro commented on #69
Same issue here but I dont know if thats the line that is causing the problem.

[2021-07-13 08:18] andylolz commented on #69
I thought it was that line because the event name in this case is `issue_comment`, but that line means it’s treated like a pull request event.

Maybe something like this?

[code]

(Though I haven’t looked into it, and I’m guessing a bit here.)

[2021-07-13 14:54] alex-page commented on #69
Happy to accept a pull request. That definitely looks like it would be a problem with `eventName`.

[2021-07-13 17:19] MrDogeBro commented on #69
I have done a little testing and it is something within that function. Just gotta do some more testing to figure out what exactly is the problem.

[2021-07-13 17:21] MrDogeBro commented on #69
Ahh I see -- that would probably make sense. I'll try that solution and see what happens.

[2021-07-13 17:48] MrDogeBro commented on #69
Ok I have just tested and that solution seems to work! I will make a PR with the changes!

[2021-07-13 18:03] #69 closed

[2021-07-26 16:59] nilsreichardt commented on #68
Any ideas why `GITHUB_TOKEN` is not working?

[2021-07-30 22:26] nilsreichardt commented on #68
I created a public repository where I reproduced the issue: https://github.com/nilsreichardt/github-action-project-issue

Workflow:
[code]

The workflow failing with this error:
[code]
Link to broken workflow: https://github.com/nilsreichardt/github-action-project-issue/runs/3186029884?check_suite_focus=true

It's working with a personal access token, but with the `GITHUB_TOKEN` is not working. Th

[2021-07-30 22:40] MisterChocker commented on #68
It's still not working for me tho. Same issue as @nilsreichardt mentioned.

[2021-08-02 13:12] dhruvkb opened #73 "Support for moving PR after specific number of approvals"
There is already a GitHub Project automation for moving approved PRs to a specific column but it doesn't take into account the number of approvals. Our project follows a two-approval-to-merge policy and we have no support for that in the built-in automations.

Can this feature be added to this action?

[2021-08-02 13:21] dhruvkb commented on #73
I realised that this can be customised in the branch protection rule settings.

[2021-08-02 13:21] #73 closed

[2021-08-11 10:36] kittykat commented on #68
Also still not working here when moving new issues to a workboard.

[2021-08-18 09:12] kittykat commented on #18
It would be good to also be able to reference organisation projects rather than only repository projects so maybe it could use the URL instead of project ID?

[2021-08-19 18:09] kittykat commented on #18
I haven't tried it with URL as the docs said "the name of the project". I'll give it a go and let you know :+1:

[2021-08-19 18:38] alex-page commented on #18
The name of the project should work for organisations and repositories. It just needs a different OAuth key. There isn't URL functionality.

[2021-08-30 07:28] bbq-all-stars opened #74 "test"

[2021-08-30 07:29] #74 closed

[2021-08-30 07:29] bbq-all-stars commented on #74
sorry, mistake repository when open the issue.

[2021-09-08 16:50] Mohamed-E commented on #18
@alex-page The action keeps failing to find my org project by name and column even tho the PAT I am using has the appropriate access (Repo: All, Org: read/write)

(I am not an org admin)

[2021-09-17 01:48] dhruvkb commented on #47
Now one can use the [`pull_request_target` event](https://docs.github.com/en/actions/reference/events-that-trigger-workflows#pull_request_target) to run workflows with access to secrets. @alex-page could this be documented in the `README.md` file?

[2021-09-17 14:53] alex-page commented on #47
@dhruvkb yeah that is a good idea! Happy to review a PR.

[2021-09-18 04:27] dhruvkb commented on #47
@alex-page I've added the troubleshooting steps in #75.

[2021-10-11 19:32] adamzimmermann opened #76 "Action Fails with GitHub Project Beta boards"
I'm able to run this action successfully with a project board within the same repo as the action. When I attempt to use it for a Github Projects Beta board it fails to find it using the same access token. 🙁

I followed the README instructions from this repo when assigning permissions to the token and added a few extra just to rule that out in my debugging.

Is this limitation a known issue or does

[2021-11-02 12:25] spl commented on #76
Just wanted to add this token of information I came upon.

There is an issue for the Projects (beta) to automatically add new issues from a repository into projects (<https://github.com/github/roadmap/issues/286>). I picked this up from the [roadmap](https://github.com/orgs/github/projects/4247/views/7), which suggests there are a lot of planned features including custom automation flows (<https:/

[2021-11-02 18:47] fharper commented on #54
The steps mentioned by @carlisia didn't work for me, but here's what worked:

1. Create a personal token that have access to the `write:org` + anything else you want the action to have access, specially in `repo:*`;
2. Create a secret at the repository level with the value from the personal token you created;
3. Use that secret name in the action configuration.

Repeat the last two steps for all r

[2021-11-08 15:07] kittykat commented on #76
Fwiw, you can use [octokit/graphql-action](https://github.com/octokit/graphql-action) with beta boards although there is a bit more setup involved

[2021-11-08 23:22] kittykat opened #77 "Check if card is in project and archived"
At the moment, if an issue is archived, I get this error:
`Error: The card must not be archived`

It would be great if there was an option to either ignore the error message (as card is technically on the board) or to unarchive the card.

[2021-11-09 15:57] alex-page commented on #77
Oooo, I haven't seen anything with archived cards. If you want to do some exploration and make a PR I would be happy to review.

[2021-11-14 22:05] maryanamedichi commented on #46
My use case is similar. I have multiple projects for different teams on org level, they all have the same structure. I already automated adding issues to the To Do column in the right project based on team labels. Now I want to move cards inside the project they're already in based on combination of labels, i.g. `Doing` + `Priority A` => High Priority, `Doing` + `Priority B`/`Priority C` => Low Pr

[2021-12-02 20:58] allisonport-db opened #78 "Workflow run fails when triggered by issue_comment for a pull request"
Since the `issue_comment` event includes both pull requests and issues, the workflow fails with a similar error to #69 when it is a pull request.

Error:
[code]

[2022-03-02 20:59] prince-chrismc commented on #76
FYI, We've be successful using this action with [org level project](https://github.com/orgs/pyrsia/projects/2) from a repository so it's seem the issue is specific to the new beta projects.

[2022-03-04 17:10] phuhl commented on #76
For anybody interested, you can automate your Beta boards with this here action: https://github.com/leonsteinhaeuser/project-beta-automations

Using it since a few weeks, works great

[2022-03-07 11:00] hugovk commented on #76
@phuhl Thanks for sharing! Can it also add PRs created by Dependabot to the beta boards?

[2022-03-08 09:38] phuhl commented on #76
@hugovk Not sure, I had some issues with labels created by the API not triggering the label-events. But that really is a limitation of the Github API. The repository I linked basically does not handle the triggering, that's left up to you (but very easy to do, based on their README). Should you find out if it works with dependabot alerts, let me know :)

[2022-07-31 13:43] BennyDeBock opened #81 "Project not found - Classic project"
So I have been working on creating a workflow to put issues with the good first issue label onto a project board.

I've managed to make this work in an organisation, but it doesn't seem to work when using a public repository with a user project not belonging to an organisation.

https://github.com/BennyDeBock/test-gh-actions/runs/7598890181?check_suite_focus=true

https://github.com/users/BennyDeB

[2022-09-09 14:24] wnqueiroz commented on #81
I have a similar problem here, only in a private context... I'm trying to automate moving issues for a project within an organization. The repository and project are private. What am I doing wrong?

I configured the personal access token scopes in the link:

https://github.com/settings/tokens/new?scopes=repo,write:org&description=PERSONAL_ACCESS_TOKEN

My workflow is set up in an even simpler way:

[2022-09-22 08:38] SirMishaa commented on #81
Any up ?

[2022-09-22 15:27] BennyDeBock commented on #81
@SirMishaa Here you can see a working example I made in the past for the Vapor organisation https://github.com/vapor/ci/blob/main/.github/workflows/issues-to-project-board.yml

[2022-10-18 21:12] dhruvkb opened #82 "Use newer version of Node.js"
https://github.com/alex-page/github-project-automation-plus/blob/be108970955040d35dd6d053c3aff3faaf678026/action.yml#L21

Since GitHub is deprecating Node.js 12 actions, this warning has been appearing in our actions. Please upgrade the Node.js version to 16.

[2022-10-19 00:00] #82 closed